#navbar {
  background-color: transparent;
  width: 100%;
}
#navbar.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}
.block1 {
  background: linear-gradient(
    to right,
    #84f0fa 0%,
    #6610f2 50%,
    #6f42c1 50%,
    #e83e8c 100%,
    transparent
  );

  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

#font1 {
  font-size: 70px;
}
.row-header {
  padding-top: 150px;
  width: fit-content;
}
#myprofile {
  padding-top: 60px;
  background-color: white;
  padding-bottom: 20px;
}
.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}
#button2 {
  background: turquoise;
  border-radius: 13px;
  color: black;
  margin-top: 20px;
}
#button1 {
  background: #96bb7c;
  border-color: #96bb7c;
  border-radius: 13px;
  color: black;
  margin-left: 100px;
  margin-top: 20px;
}
.content {
  background-color: white;
  padding: 10px;
  border: 0.5px solid;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#my-projects {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
#myblog {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
#hire {
  background-image: url("images/available.jpg");
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 200px;
}
#contact-me {
  background-color: #fbdfdf;
  padding-top: 60px;
  padding-bottom: 80px;
}
#button3 {
  background: #f57777;
  color: white;
  height: 50px;
  width: 300px;

  margin-bottom: 20px;
}
footer {
  background-color: #0f0f0f;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  color: white;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
/*google*/
.fa-github {
  background: white;
  color: black;
}

/* linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* instagram */
.fa-instagram {
  background: #e1306c;
  color: white;
}
/*blockquote*/

/*timeline*/
.circle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #000;
}
.main-container {
  position: relative;
  width: 390px;
}
/*creating line for timeline*/

.main-container::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #ffc0cb;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/*Adjusting box of all content*/
.text-wrapper {
  padding: 0px 40px;
  position: relative;
  width: 51%;
  box-sizing: border-box;
  margin: 50px 0;
}
.text-wrapper::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -7px;
  background-color: #ff69b4;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/*for left events*/
.left {
  left: 0;
}
/*for right events*/
.right {
  left: 50%;
}
.right::after {
  left: -10px;
}
/*content box colour padding and radius for circular corner*/
.content1 {
  padding: 15px 15px 15px 17px;
  background-color: #ffc0cb;
  border-radius: 18px;
}
/*setting text property of event heading*/
.content1 h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #212121;
  margin-left: -10px;
  letter-spacing: 0px;
}
/*setting text property of event content*/
.content1 p {
  color: #616161;
  font-weight: 300;
  font-size: 18px;
  margin-top: 2px;
}
