#navbar {
  background-color: transparent;
  width: 100%;
}

.block1 {
  background: linear-gradient(
    to right,
    #e763b8 0%,
    #ff9e2c 50%,
    #b6701e 50%,
    #f4d03f 100%,
    transparent
  );

  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 650px;
}

#font1 {
  font-size: 70px;
}
.row-header {
  padding-top: 150px;
  width: fit-content;
}
#myprofile {
  padding-top: 10px;
  background-color: white;
  padding-bottom: 20px;
}
.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}
#button2 {
  background: turquoise;
  border-radius: 13px;
  color: black;
  margin-top: 20px;
}
#button1 {
  background: #96bb7c;
  border-color: #96bb7c;
  border-radius: 13px;
  color: black;
  margin-left: 100px;
  margin-top: 20px;
}
.content {
  background-color: white;
  padding: 10px;
  border: 2px solid;
}
#my-projects {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 20px;
}
#myblog {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 20px;
}
#hire {
  background-image: url("images/available.jpg");
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 30px;
}
#contact-me {
  background-color: #fbdfdf;
  padding-top: 60px;
}
#button3 {
  background: #f57777;
  color: white;
  height: 50px;
  width: 300px;

  margin-bottom: 20px;
}
footer {
  background-color: #0f0f0f;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
/*google*/
.fa-github {
  background: white;
  color: black;
}

/* linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* instagram */
.fa-instagram {
  background: #e1306c;
  color: white;
}
